.App {
  text-align: center;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid white;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sidebar {
  width: 500px;
}

.projects {
  color: #61dafb;
}
